/BufferSample/
/FastCollinears/nbproject/private/
/FastCollinears/build/
/Colin/nbproject/private/
/Colin/build/
/Trees/nbproject/private/
/Trees/build/
/WordNet/target/
/SolrT/target/
/Trees/nbproject/private/
/Trees/build/
/SeamCarving/target/
/SeamCarving/nbactions.xml
/Colin/
/SolrT/
/FastCollinears/
/algs4/
/1/

