/BufferSample/nbproject/private/
/BufferSample/build/
/FastCollinears/nbproject/private/
/FastCollinears/build/
/Colin/nbproject/private/
/Colin/build/
/Trees/nbproject/private/
/Trees/build/
/WordNet/target/
/SolrT/target/
/Trees/nbproject/private/
/Trees/build/